# Frontend - Variáveis de Ambiente

# URL da API (durante desenvolvimento)
VITE_API_URL=http://localhost:8000/api

# URL da API (em produção - Render)
# VITE_API_URL=https://clone-x-gml7.onrender.com/api
